body{
  display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #040d15;
}
/* Just to center the button, not really important but
make sure you define the button's position*/
.btn{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.btn{
  background: linear-gradient(183deg,#87340c,#ffd400);
  font-size: 16px;
  color: #fff;
  padding: 10px 45px;
  border: none;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 2px 2px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.btn:hover{
  background: linear-gradient(90deg,#87340c,#ffd400);
}

.btn .btn-ripple{
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  border-radius: 100%;
  animation: ripple 1s;
  transform: scale(0);
}

@keyframes ripple {
  100%{
    transform: scale(2);
    opacity: 0;
  }
}